body{
    margin: 0;
}

/*
	Required css
*/
.equalHeightRow{
	padding: 0 0;
    max-width: 1200px;
    margin:0 auto;
}

.equalHeightRow .teaserheader{
	margin-bottom: 80px;
}

.equalHeightRow .teaserheader .teaserTitle{
	font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.equalHeightRow .teaserheader .teaserIntro{
	font-size: 20px;
    padding: 20px 0 45px 0;
	text-align: center;
}

.equalHeightRow .items{
	overflow: hidden;
}

.equalHeightRow .items .item{
	width: 25%;
    float: left;
    text-align: center;
    margin-bottom: 40px;
    padding: 0 20px;
    box-sizing: border-box;
}

.equalHeightRow .items .item:nth-child(3){
    width: 50%;
}

.equalHeightRow .items .item:nth-child(4){
    width: 50%;
}

.equalHeightRow .items .item:nth-child(11){
    width: 50%;
}

.equalHeightRow .items .item:nth-child(12){
    width: 50%;
}

.equalHeightRow .items .item .teaserText {
    padding: 20px 0;
    font-size: 18px;
	line-height: 24px;
}

.equalHeightRow .items .item .teaserText p:nth-child(1){
	margin-top: 0;
}

.equalHeightRow .items .item .teaserSubHeader{
	font-size: 28px;
    display: table;
    width: 100%;
}

.equalHeightRow .items .item .teaserSubHeader .headerCell {
    display: table-cell;
    vertical-align: middle;
}

.equalHeightRow .items .item .teaserIcon{
	margin-bottom: 45px;
	display: table;
	width: 100%;
}

.equalHeightRow .items .item .teaserIcon img{
	width: 84px;
    height: auto;
    display: inline-block;
    max-width: 84px;
    max-height: 84px;
}

.equalHeightRow .items .item .teaserIcon .teaserIconCell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 84px;
}

@media screen and (max-width: 860px) {
	.equalHeightRow .items .item{
		width: 33.3% !important; /* important overwrites nth childs */
	}
}

@media screen and (max-width: 600px) {
	.equalHeightRow .items .item{
		width: 50% !important; /* important overwrites nth childs */
	}
}

@media screen and (max-width: 480px) {
	.equalHeightRow .items .item{
		width: 100% !important; /* important overwrites nth childs */
	}
}
